<div class="ifs-ews-result-preview preview-result" data-preview-result-index="{{index}}" data-favorite="{{favoredString}}" data-score="{{score}}">
    <div class="ifs-ews-result-type-icon">
        <i class="ifs-icons ifs-icon-contact"></i>
    </div>
    <div class="ifs-ellipsis">max.mustermann@example.com</div>
    <div class="ifs-ews-colored-info ifs-ellipsis">Max Mustermann</div>
    <div class="ifs-ews-result-details">
        <label>{{ msg 'ifs.ews.tel'}}:</label><div class="ifs-ellipsis" x-ms-format-detection="none">49 89 123 45 67 89</div>
        <label>{{ msg 'ifs.ews.mobile'}}:</label><div class="ifs-ellipsis" x-ms-format-detection="none">49 151 123 45 67 89</div>
    </div>
    <div class="ifs-ews-result-info-icons">
        <div></div>
        <div></div>
        <div><i class="ifs-icons ifs-icon-flag"></i></div>
    </div>
</div>
