<div class="ifs-ews-result-preview preview-result" data-preview-result-index="{{index}}" data-favorite="{{favoredString}}" data-score="{{score}}">
    <div class="ifs-ews-result-type-icon">
        <i class="ifs-icons ifs-icon-task"></i>
    </div>
    <div class="ifs-ellipsis">Erledigt</div>
    <div class="ifs-ews-colored-info ifs-ellipsis">Aufgabentitel</div>
    <div class="ifs-ews-result-details">
        <label>{{ msg 'ifs.ews.start'}}:</label><div class="ifs-ellipsis" x-ms-format-detection="none">dd.mm.yy - hh:mm</div>
        <label>{{ msg 'ifs.ews.end'}}:</label><div class="ifs-ellipsis" x-ms-format-detection="none">dd.mm.yy - hh:mm</div>
    </div>
    <div class="ifs-ews-result-info-icons">
        {{#if priority}}
        <div><i class="ifs-icons ifs-icon-priority-{{priority}}"></i></div>
        {{/if}}
        {{#ifCond hasAttachements '===' 'true'}}
        <div><i class="ifs-icons ifs-icon-attachment"></i></div>
        {{/ifCond}}
        <!--<div><i class="ifs-icons ifs-icon-flag"></i></div>-->
    </div>
</div>
