<script id="facets-template" type="text/x-handlebars-template">

<li class="media ifs-tpl-crawler {{#if mobilePhoneState}}tpl-mobile{{/if}}" data-favorite="{{favoredString}}" data-index="{{integer}}" data-score="{{score}}">

   <div class="ifs-favorite-label {{#if favoredBool}} state-true {{/if}}">
       <i class="glyphicons glyphicons-star"></i>
   </div>

   {{#if mobilePhoneState}}
   <div class="ifs-swipe-area">
   {{/if}}

   <div class="media-left">
       <a class="avatar" href="javascript:void(0);" data-action="preview" data-preview-id="{{url}}" data-preview-opener="crawler" data-hiturl="{{folder}}{{filename}}">
           <div class="ifs-preview-mask"></div>
           <img class="ifs-avatar-img" src="{{authenticateIfJWTPresent thumbnail}}">
       </a>
   </div>
   <div class="media-body">
       <h4 class="media-heading ifs-dont-break">
           {{#if title}}
               <a target="_blank" href="{{urlRaw}}">{{{title}}}</a>
           {{else}}
               <a target="_blank" href="{{urlRaw}}">{{filename}}</a>
           {{/if}}
       </h4>
       <div class="flex-truncate">
           <p>
               {{modified}}
           </p>
       </div>
       {{#if body}}
           <p class="ifs-textbody">{{{body}}}</p>
       {{/if}}
       <a target="_blank" href="{{urlRaw}}">
           <p class="truncate pathname" title="{{urlRaw}}">BLUB{{myHelper "url"}}</p>
       </a>
   </div>


   {{#if mobilePhoneState}}
   </div>
   {{/if}}


   {{#if hitMenu}}
       {{{hitMenu}}}
   {{/if}}
</li>
</script>