<div class="ifs-media ifs-tpl-news" data-favorite="{{favoredString}}" data-index="{{integer}}" data-score="{{score}}">

    <div class="ifs-media-left">
        <i class="ifs-icons ifs-icon-news"></i>
    </div>

    <div class="ifs-media-body">
        <div>
            <p class="ifs-media-headline ifs-break-all ifs-demi">{{{title}}}</p>

            <p class="ifs-media-modified">{{modified}} | {{creator}}</p>

            {{#if text}}
            <p class="ifs-textbody ifs-break-all">{{{text}}}</p>
            {{/if}}
        </div>
    </div>

    <div class="ifs-media-favorite">
        <i class="ifs-icons{{#if favoredBool}} ifs-icon-star_rate{{/if}}"></i>
    </div>

    {{#if hitMenu}}
        <div class="ifs-media-right">
            {{{hitMenu}}}
        </div>
    {{/if}}

</div>