<div class="input-group-btn">
    <button type="button" class="btn btn-default ifs-btn-"  data-toggle="if-dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="current-sources">{{msg "ifs.datechooser" }}</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu bullet pull-left" aria-labelledby="dropdownMenu1">
        <li><a href="javascript:void(0);">{{msg "ifs.filter.today"}}</a></li>
        <li><a href="javascript:void(0);">{{msg "ifs.filter.thisweek"}}</a></li>
        <li><a href="javascript:void(0);">{{msg "ifs.filter.thismonth"}}</a></li>
        <li><a href="javascript:void(0);">{{msg "ifs.filter.thisyear"}}</a></li>
    </ul>
</div>