<div class="ifs-media ifs-tpl-ews" data-index="{{integer}}" data-score="{{score}}">
    <div class="ifs-media-left">
        <div class="ifs-ews-result-type-icon">
            <i class="ifs-icons ifs-icon-task"></i>
        </div>

        <div class="ifs-ews-result-info-icons">
            {{#if priority}}
            <div><i class="ifs-icons ifs-icon-priority-{{priority}}"></i></div>
            {{/if}}
            {{#ifCond hasAttachements '===' 'true'}}
            <div><i class="ifs-icons ifs-icon-attachment"></i></div>
            {{/ifCond}}
            <!--<div><i class="ifs-icons ifs-icon-flag"></i></div>-->
        </div>
    </div>
    <div class="ifs-media-body">
        <div>
            <div>Erledigt</div>
            <div class="ifs-ews-colored-info">Aufgabentitel</div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="ifs-ews-details">
            <div class="ifs-ews-result-details-head">Details</div>
            <div class="ifs-ews-result-details">
                <label>{{ msg 'ifs.ews.category'}}:</label><div>Frontend Tasks</div>
                <label>{{ msg 'ifs.ews.start'}}:</label><div x-ms-format-detection="none">dd.mm.yy - hh:mm</div>
                <label>{{ msg 'ifs.ews.end'}}:</label><div x-ms-format-detection="none">dd.mm.yy - hh:mm</div>
            </div>
        </div>
    </div>

    <div class="ifs-media-right">
        {{{hitMenu}}}
        {{#if favoredBool}}
            <div class="ifs-media-favorite">
                <i class="ifs-icons ifs-icon-star_rate"></i>
            </div>
        {{/if}}
    </div>
</div>
