{{#if isInInputField}}
    <span class="ifs-checkable-term" data-toggle="tooltip" title="{{ term }}">{{ term }}</span>
    <input type="checkbox">
{{else}}
    <span class="ifs-checkable-term" data-toggle="tooltip" title="{{ term }}">{{ term }}</span>
    <input type="checkbox">
{{/if}}