{{#if isInInputField}}
    <span class="{{group}} glyphicons{{group}} glyphicons glyphicons-check"><span class="ifs-checkable-term">{{ term }}</span></span>
{{else}}
    <span class="{{group}} glyphicons glyphicons-unchecked"><span class="ifs-checkable-term">{{ term }}</span></span>
{{/if}}