<script id="facets-template" type="text/x-handlebars-template">
<style>
    .if-teaser-highlight {
        font-weight: bold;
    }
</style>

<li class="media ifs-tpl-crawler {{#if mobilePhoneState}}tpl-mobile{{/if}}" data-favorite="{{favoredString}}" data-index="{{integer}}" data-score="{{score}}">

   <div class="ifs-favorite-label {{#if favoredBool}} state-true {{/if}}">
       <i class="glyphicons glyphicons-star"></i>
   </div>

   {{#if mobilePhoneState}}
   <div class="ifs-swipe-area">
   {{/if}}

   <div class="media-body">
       <h4 class="media-heading ifs-dont-break">
           {{#if title}}
               <a href="{{urlRaw}}">{{{title}}}</a>
           {{else}}
               <a href="{{urlRaw}}">{{filename}}</a>
           {{/if}}
       </h4>
       <div class="flex-truncate">
           <p>
               {{modified}}
           </p>
       </div>
       {{#if body}}
           <p class="ifs-textbody">{{{body}}}</p>
       {{/if}}
       <a href="{{urlRaw}}">
           <p title="{{urlRaw}}">{{{url}}}</p>
       </a>
   </div>


   {{#if mobilePhoneState}}
   </div>
   {{/if}}

   {{#if hitMenu}}
       {{{hitMenu}}}
   {{/if}}
</li>
</script>


<script id="thumbnail-result" type="text/x-handlebars-template">
<div class="ifs-media">

    <div class="ifs-media-left">
        {{#if thumbnail}}
        <a href="{{urlRaw}}" target="_blank" style="margin-top: 48px; height: 80px; width: 80px; overflow: hidden; justify-content: center;">
            <img src="{{thumbnail}}" style="width: auto; height: 100%;">
        </a>
        {{/if}}
    </div>


    <div class="ifs-media-body">
        <div>
            <a target="_blank" href="{{urlRaw}}" class="ifs-break-all ifs-visited ifs-demi">{{{title}}}</a>

            {{#if body}}
                <p class="ifs-textbody ifs-break-all">{{{body}}}</p>
            {{/if}}

            <a target="_blank" href="{{urlRaw}}" title="{{urlRaw}}" class="ifs-media-deepurl truncate pathname ifs-break-all">{{{url}}}</a>
        </div>
    </div>
</div>
</script>