<div class="ifs-media ifs-tpl-crawler" data-favorite="{{favoredString}}" data-index="{{integer}}" data-score="{{score}}">
    <div class="ifs-media-body">
        <div>
            <a target="_blank" href="{{urlRaw}}" class="ifs-break-all ifs-visited ifs-demi">{{{title}}}</a>

            {{#if body}}
                <p class="ifs-textbody ifs-break-all">{{{body}}}</p>
            {{/if}}

            <a target="_blank" href="{{urlRaw}}" title="{{urlRaw}}" class="ifs-media-deepurl truncate pathname ifs-break-all">{{{url}}}</a>
        </div>
    </div>

    {{#if hitMenu}}
    <div class="ifs-media-right">
        {{{hitMenu}}}
    </div>
    {{/if}}

</div>